@page
@model photography.Pages.archive.a01Model
@{
    Layout = "_Layout";
}

    <div class="d-flex w-100" id="banner">
        <div class="overlay w-100">
            <div class="row w-100">
                <div class="col-2"></div>
                <div class="col-8">
                    <h3 class="font-weight-bold text-primary">Dev//Life</h3>
                    <font class="weight-100 text-white">My struggles and triumphs as a DevOps Engineer.</font>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 text-left mt-5">
                <div class="w-100">
                    <ul style="list-style: none;">
                        <li><font class="fbold">Previous Posts</font></li>
                        <li><font class="flight">June 11th, 2020</font></li>
                        <li><a href="../archive/a02"> - Chef Infra</a></li>
                        <li><a href="../archive/#"> - Introduction</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 text-center mt-5">
                <div class="card w-100 rounded-0 mb-5 text-left">
                    <div class="card-body">
                        <div class="container text-center">
                                <h5 class="card-title text-primary">Jeffrey Adams - DevOps Engineer</h5>
                                <h6 class="card-subtitle mb-3 text-muted">
                                    <img src="https://d1bu5rn6887f3r.cloudfront.net/face.jpg" class="br-50 mr-2" />
                                    <a href="/aboutme"> Jeffrey Adams</a>
                                    <font class="weight-100 text-muted">6/4/2020 10:55 PM</font>
                                </h6>
                        </div>
                    </div>
                </div>
             
                <div class="card w-100 rounded-0 mt-4 mb-5 text-left">
                    <div class="card-body">
                        <div class="container">
                                <p class="card-text weight-100">
                                    Hello!
                                </p>
                                <p class="card-text weight-100">
                                    My name is Jeffrey Adams and I am a 29 year old DevOps Engineer at a business in
                                    the Nashville area. I've spent many years teaching myself different languages and
                                    frameworks all while hopping in and out school and working fulltime as a bartender.
                                    It has been a series of ups, downs and setbacks but I set out to have a career and
                                    graduate with at least an AS degree before I was 30, and here I am...just under the
                                    wire.
                                </p>
                                <p class="card-text weight-100">
                                    I got my start in web development so I've learned a lot of HTML, CSS and Javascript
                                    but I'v also studied a lot of C# programming at school. I very much have a development
                                    background. So, when I heard the term "DevOps", I was a bit hesitant due to my lack of
                                    understanding of what the role really entailed. Of course, I wasn't going to waste
                                    any opportunity I could get and was eager to learn and adapt to the new set of
                                    responsibliites.
                                </p>
                                <p class="card-text weight-100">
                                    Though I tend to think of DevOps as more of a culture and methodology, I do maintain
                                    the view that the role of DevOps Engineer is an important one. Though it tends to be
                                    more important toward the beginning of the shift to the DevOps methodology as a curator
                                    of the ideals and a bridge between the development and operations. I like to see myself
                                    as an arbiter of those core values that Agile teachs but spread accross an entire IT
                                    department. Eventually the goal, in my very humble opinion, should be to have very little
                                    distinction between Development or Operations. Instead, it should feel as if the IT team
                                    all focuses toward one goal and task and sets out to make that happen. Though there will
                                    always be need for expertise and it is very unreseaonable to expect to build a team that
                                    understands ever aspect of your develoment process, blurring the lines a bit between
                                    each side of said process can really bring a cohesivness and fludity to your team.
                                </p>
                                <p class="card-text weight-100">
                                    Now that I am done rambling. Thats just a little bit about me and my attitude toward a role
                                    that I honestly, don't fully understand yet. However, you can bet that I am absolutely loving
                                    it and so excited to learn and grow in the field of DevOps. I have a lot to learn but my goal
                                    is to be as teachable and coachable as humanly possible and just act as a sponge and soak up
                                    everything I can. Not just as personal growth, but to bring the most value to my team as I can.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
           
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 text-left mt-5">
                <div class="w-100 whitebox p-2">
                    <ul>
                        <li><font class="fbold">Helpful Links</font></li>
                        <li><a href="../archive/001/">Stack Overflow</a></li>
                        <li><a href="../archive/001/">MS Docs</a></li>
                        <li><a href="../archive/001/">Tech Blog</a></li>
                    </ul>
                    <div class="border border-bottom border-light"></div>
                    <ul>
                        <li><a href="../archive/001/">Stack Overflow</a></li>
                        <li><a href="../archive/001/">MS Docs</a></li>
                        <li><a href="../archive/001/">Tech Blog</a></li>
                    </ul>
                    <div class="border border-bottom border-light"></div>
                    <ul>
                        <li><a href="../archive/001/">Stack Overflow</a></li>
                        <li><a href="../archive/001/">MS Docs</a></li>
                        <li><a href="../archive/001/">Tech Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    